{{ define "title"}}<title>Perceptron Page</title>{{ end }}
{{ define "sidebar" }}
{{ end }}

{{ define "content" }}
    <div class="form" style="margin-bottom: 15px;">
        <h2>Neuron is above Line Example.</h2>
        <p>A Neuron has been trained to detect if point is above or below line.</p>
        <p>Green: is above line. Red: is below line.<p>
    </div>
    <div id="viewport"></div>
    <script src='./static/assets/javascript/ws.neuron.js'></script>
{{ end }}

